// Aside
aside.aside
    // Navigation
    nav.menu
        // Menu
        ul.menu__list
            li.menu__item
                a(href='about.html' title='О компании').menu__link О компании
            li.menu__item.js-menu-item
                a(href='products.html' title='Продукция').menu__link Продукция
                ul.submenu.js-fade.is-hidden
                        li.submenu__item
                            a(href='about.html' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Щиты учётно-распределительные этажные
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item.js-submenu-item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                            ul.submenu-l2.js-fade2.is-hidden
                                li.submenu-l2__item
                                    a(href='javascript:void(0)' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='javascript:void(0)' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='javascript:void(0)' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='javascript:void(0)' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                        li.submenu__item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                        li.submenu__item.js-submenu-item
                            a(href='javascript:void(0)' title='Корпуса шкафов, щитов и пультов').submenu__link Корпуса шкафов, щитов и пультов
                            ul.submenu-l2.js-fade2.is-hidden
                                li.submenu-l2__item
                                    a(href='about.html' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='about.html' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='about.html' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
                                li.submenu-l2__item
                                    a(href='about.html' title='Корпуса шкафов серии U-34').submenu-l2__link Корпуса шкафов серии U-34
            li.menu__item
               a(href='news.html' title='Новости').menu__link Новости
            li.menu__item
                a(href='about.html' title='Контакты').menu__link Контакты
            li.menu__item
                a(href='javascipt:void(0)' title='Карта сайта').menu__link Карта сайта