// Content text block
h1.h1 О компании
.text
    p Завод «Красная Заря» основан  в 1892 году.
    p За долгие годы деятельности завод стал крупнейшим производителем продукции в том числе, корпусных и других изделий из металла, применяющихся во многих сферах промышленности.
    p В результате реорганизации завод "Красная Заря"  в 2003 году был преобразован в ООО "Красная Заря. Металлист".
    p Предприятию ООО "Красная Заря. Металлист" удалось сохранить технологию производства, опытные кадры. Модернизация производства, внедрение новых технологий и оборудования,  позволяет выпускать продукцию, отвечающую современным требованиям - корпуса шкафов ЩНС, ЩО, ВРУ, распределительных щитов и пультов с монтажной панелью, осуществлять листовую штамповку, а также изготовление различных металлоконструкций по чертежам и проектам Заказчика.
    p Нашими постоянными клиентами являются предприятия электротехнической, нефтяной, газовой и других отраслей промышленности.
