// Contacts block
address.contacts-wrapper
    .contacts
        p.contacts__address Санкт-Петербург, м. "Черная речка", ул. Сердобольская, д. 65
        p.contacts__phone
            span.contacts__phone-prefix (812)
            span.contacts__phone-number 326-07-41
        a(href='about.html' title='Где мы находимся?').contacts__link Где мы находимся?
