// Footer
footer.footer-wrapper
    .container
        .footer

           .footer__left
               p.footer__copyright ©2008 «Красная Заря. Металлист»
               p.footer__astra Сайт разработан
                    a(href='http://astramg.ru' title='Сайт разработан AstraMediaGroup' target='_blank').footer__astra-link AstraMediaGroup
               .counters
                   img(src='img/counter.png' alt='#' title='#').counters__item
                   img(src='img/counter.png' alt='#' title='#').counters__item
                   img(src='img/counter.png' alt='#' title='#').counters__item
                   img(src='img/counter.png' alt='#' title='#').counters__item
                   img(src='img/counter.png' alt='#' title='#').counters__item
                   img(src='img/counter.png' alt='#' title='#').counters__item

           .footer__right
               nav.footer__nav
                ul.footer__list
                    li.footer__item
                        a(href="about.html" title='О компании').footer__link О компании
                    li.footer__item
                        a(href="products.html" title='Продукция').footer__link Продукция
                    li.footer__item
                        a(href="news.html" title='Новости').footer__link Новости
                    li.footer__item
                        a(href="about.html" title='Контакты').footer__link Контакты
                    li.footer__item
                        a(href="javascript:void(0)" title='Карта сайта').footer__link Карта сайта

// Set JS assets
      //script(src="js/vendor/vendor-bundle.min.js")
script(src="js/custom/custom-bundle.min.js")