// News section
section.news
    .h2 Новости
    ul.news-list
        li.news-item
            time.news-item__date 2015-05-27
            p.news-item__anons Крепнет многолетнее сотрудничество с фирмой ООО "Тахион", ООО "Красная Заря. Телекоммуникации", ЗАО "СКБ Орион"
            a(href='about.html' title='Подробнее').news-item__link Подробнее
        li.news-item
            time.news-item__date 2015-05-27
            p.news-item__anons Крепнет многолетнее сотрудничество с фирмой ООО "Тахион", ООО "Красная Заря. Телекоммуникации", ЗАО "СКБ Орион"
            a(href='about.html' title='Подробнее').news-item__link Подробнее
        li.news-item
            time.news-item__date 2015-05-27
            p.news-item__anons Крепнет многолетнее сотрудничество с фирмой ООО "Тахион", ООО "Красная Заря. Телекоммуникации", ЗАО "СКБ Орион"
            a(href='about.html' title='Подробнее').news-item__link Подробнее
    a(href='news.html' title='Все новости').news__all Все новости