// Popular goods
section
    .h3 Самые популярные товары в нашем каталоге
    ul.popular-goods
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.
        li.popular-goods__item
            a(href='javascript:void(0)' title='Корпуса шкафов сборных ШНС').popular-goods__link Корпуса шкафов сборных ШНС.

