footer.page-footer
			.container
				.row
					.page-footer__inner
						.page-footer__column.col-md-4.col-lg-4
							.page-footer__column_subcolumn.col-md-6.col-lg-6
								.page-footer__subcolumn__tag
									a.tag__link(href='#') Устройства
								.page-footer__subcolumn__tag
									a.tag__link(href='#') Контакты
								.page-footer__subcolumn__tag
									a.tag__link(href='#') Поддержка
							.page-footer__column_subcolumn.col-md-6.col-lg-6
								.page-footer__subcolumn__tag
									a.tag__link(href='#') О нас
								.page-footer__subcolumn__tag
									a.tag__link(href='#') Услуги
								.page-footer__subcolumn__tag
									a.tag__link(href='#') Блог
						.page-footer__column.col-md-4.col-lg-4
							.page-footer_contacts__item
								.contacts_item__icon.col-md-5.col-lg-5
									i.fa.fa-instagram.fa-2x.icon
								.contacts_item__text.col-md-7.col-lg-7
									p г. Санкт-Петербург, ул.Большая Монетная, БЦ Бинго, офис 432
							.page-footer_contacts__item
								.contacts_item__icon.col-md-5.col-lg-5
									i.fa.fa-instagram.fa-2x.icon
								.contacts_item__text.col-md-7.col-lg-7
									p 8 800 77-55-88
							.page-footer_contacts__item
								.contacts_item__icon.col-md-5.col-lg-5
									i.fa.fa-instagram.fa-2x.icon
								.contacts_item__text.col-md-7.col-lg-7
									p help@synergy.ru
						.page-footer__column.col-md-4.col-lg-4
							.page-footer__sociallinks
								.sociallinks__item
									a.sociallinks_link(href='https://vk.com')
										i.fa.fa-vk.fa-2x.icon
							.page-footer__sociallinks
								.sociallinks__item
									a.sociallinks_link(href='https://instagram.com')
										i.fa.fa-instagram.fa-2x.icon
							.page-footer__sociallinks
								.sociallinks__item
									a.sociallinks_link(href='https://facebook.com')
										i.fa.fa-facebook.fa-2x.icon
							.copyright
								span © 2017 SYNERGY