header.page-header
			.top_header
				.container
					.row
						.top_header__left.col-md-2.col-lg-2
							i.fa.fa-phone
							span.phone-top 8-800-555-18-16
						.top_header__right.col-md-2.col-lg-2
							span.profile-block
								i.fa.fa-user-circle-o
								| Личный кабинет
							span.search
								i.fa.fa-search
			.nav_bottom
				.container
					.bottom_header.row
						a.site-logo(href='index.html')
							svg.logo
								use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#site_logo')
						nav.main-nav
							a#toggler.toggler.hidden-lg(href='')
							ul.main-nav__list.visible-lg-block
								li.main-nav__item
									a.main-nav__link(href='/devices.html') Устройства
									ul.main-nav__item-sublist
										li
											a.main-nav__link(href='#') Освещение
										li
											a.main-nav__link(href='#') Датчики
										li
											a.main-nav__link(href='#') Термостаты
										li
											a.main-nav__link(href='#') Смарт-хабы
										li
											a.main-nav__link(href='#') Смарт-хабы
								li.main-nav__item
									a.main-nav__link(href='/help.html') Поддержка
								li.main-nav__item
									a.main-nav__link(href='/contacts.html') Контакты
								li.main-nav__item
									a.main-nav__link(href='/Services.html') Тарифы
								li.main-nav__item.cart_icon
									a.main-nav__link(href='/Cart.html')
										svg.icon_cart_image
											use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon_cart')