doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head

    body.site

        include includes/_if-ie

        include includes/_header

        main.container
            include includes/_aside
            section.content
                include includes/_content-text
                include includes/_contacts

        include includes/_footer

        include includes/_outdate-browsers