doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    include includes/_head

    body

        include includes/_if-ie

        include includes/_header

        main.container
            include includes/_aside
            include includes/_content

        include includes/_footer

        include includes/_outdate-browsers
